$primary-color: white;
$main-font: 'Open Sans', sans-serif;

header {
  background-image: url(../images/header.png);
  background-size: cover;

  .border-bottom {
    margin-bottom: 7rem;
    @media screen and (min-width: 1024px) {
      margin-bottom: 17rem;
    }
    @media screen and (max-width: 1024px) {
      padding-left: 3rem;
    }
  }

  .navbar {
    max-width: 1360px;
  }

  .navbar-light .navbar-nav .nav-link {
    color: $primary-color;
    padding: 3rem 1.5rem;
    font-size: 0.8rem;
    @media screen and (min-width: 1024px) {
      padding: 3rem 0.5rem;
    }
  }

  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: $primary-color;
  }

  .form-inline {
    background-color: #fff;
    height: 3rem;
    width: 15rem;
    border-radius: 20px;

    .form-control {
      width: 83%;
      border: none;
      background-color: transparent;
      padding: 1rem 2rem;
      font-size: 0.75rem;
    }

    .form-control:focus {
      box-shadow: none;
    }

    .btn {
      border: none;
      padding: 0.4rem 0;
      width: 13%;
    }

    .btn.focus, .btn:focus {
      box-shadow: none;
    }

    .btn-outline-success {
      color: #b6b6b6;
    }

    .btn-outline:hover {
      background-color: transparent;
      border: none;
    }
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url(../images/icon.png);
  }

  h1 {
    color: $primary-color;
    font-family: $main-font;
    text-align: right;
    line-height: 1.5;
    margin-bottom: 3rem;

    span {
      display: block;
    }
  }

  .btn-primary {
    width: 17.5rem;
    background-color: #8824cd;
    border: none;
    margin-bottom: 1.5rem;
  }

  .btn-group-lg > .btn, .btn-lg {
    line-height: 2.5rem;
  }

  .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background-color: #8824cd;
    border: none;
  }

  .btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
  }

  p {
    font: $main-font 0.75rem;
    color: $primary-color;
    margin-bottom: 15.5rem;
  }
}

.futures {
  background-color: #2e3b4e;
  padding-top: 3rem;
  padding-bottom: 3rem;
  @media screen and (min-width: 768px) {
    padding-top: 5rem;
    padding-bottom: 8.8rem;
  }

  h3 {
    text-transform: uppercase;
    font: 1rem $main-font;
    color: $primary-color;
    margin-bottom: 2rem;
  }

  p {
    font: 0.9rem $main-font;
    color: $primary-color;
    margin-bottom: 4.35rem;
    line-height: 1.5;
  }
}

.book {
  background-image: url(../images/book-bg.png);
  background-size: cover;
  font: $main-font;
  text-align: center;

  .pixels {
    margin: auto;
    top: -78px;
  }

  h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 300;
    color: $primary-color;
    @media screen and (min-width: 768px) {
      margin-top: 7.8rem;
    }
  }

  p {
    color: $primary-color;
    margin-bottom: 2rem;
  }

  .btn-primary {
    width: 20rem;
    background-color: #ffffff;
    border: none;
    color: #d54c63;
    font-weight: 500;
    margin-bottom: 12rem;
  }

  .btn-group-lg > .btn, .btn-lg {
    line-height: 3.5rem;
  }

  .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background-color: #ffffff;
    border: none;
  }

  .btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
  }
}

.about {
  .description {
    h3 {
      font: 0.9rem $main-font;
      text-transform: uppercase;
      font-weight: bold;
    }

    p {
      font: 1.2rem $main-font;
    }

    span {
      margin-top: 2rem;
      display: block;
      font: 0.9rem $main-font;
    }
  }
}

.experience {
  background-image: url(../images/experience.png);
  background-size: cover;
  padding-bottom: 6rem;

  .rush {
    background-color: rgba(82, 26, 102, 0.5);
    padding-top: 6rem;
    top: 6.1rem;
    padding-bottom: 7rem;

    div {
      max-width: 46rem;

      h2 {
        font: 2.5rem $main-font;
        color: $primary-color;
        margin-bottom: 2.5rem;
      }

      p {
        font: 1.25rem $main-font;
        color: #a87bb7;
        margin-bottom: 2rem;
      }

      .btn-primary {
        width: 17.5rem;
        background-color: #8824cd;
        border: none;
        margin-bottom: 1rem;
      }

      .btn-group-lg > .btn, .btn-lg {
        line-height: 2.5rem;
      }

      .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
        background-color: #8824cd;
        border: none;
      }

      .btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: none;
      }

      span {
        color: $primary-color;
        font-size: 0.75rem;
      }
    }
  }
}

.article {
  background-image: url(../images/meal.png);
  background-size: cover;
  font: $main-font;
  padding-top: 22rem;

  .btn-primary {
    width: 8.6rem;
    background-color: transparent;
    border: 2px solid white;
    margin-bottom: 2.3rem;
    font-size: 0.8rem;
  }

  .btn-group-lg > .btn, .btn-lg {
    line-height: 1rem;
  }

  .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background-color: transparent;
    border: 2px solid white;
  }

  .btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
  }

  h2 {
    font: 2.5rem $main-font;
    color: $primary-color;
    margin-bottom: 3rem;
  }

  p {
    font: 0.8rem $main-font;
    color: $primary-color;
    margin-bottom: 5.5rem;
  }
}
.contact{
  background-color: #e7526b;
  padding-top: 4.8rem;
  h3{
    text-transform: uppercase;
    font: 0.9rem $main-font;
    color: $primary-color;
    font-weight: 600;
    margin-bottom: 1.2rem;
  }
  p{
    font: 0.9rem $main-font;
    color: $primary-color;
    margin-bottom: 2rem;
  }
  a{
    font: 0.9rem $main-font;
    color: $primary-color;
    text-decoration: underline;
  }
}
footer{
  background-color: #2e3b4e;
  p{
    font: 0.75rem $main-font;
    color: $primary-color;
  }
}